*{
    margin: 0;
    padding: 0;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  }
  body{
    background-color: #412567;
    color: white;
  }
  .nav-ber{
    max-width: 1600px;
    background-color: #412567;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
   }
   .nav-ber h2{
    font-size:2.5rem;
   }

   .nav-ber h2 span{
  background: linear-gradient(
    to right,
    #F7E93F,
    #FB09B4,
    #9100F8
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

   

  .nav-list{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;

  }
  .nav-list li{
    list-style-type: none;
  }
  .nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    
  }
  .nav-btn{
    padding: 12px 24px;
    border-radius: 20px;
    
  background: linear-gradient(
    to right,
    #F7E93F,
    #FB09B4,
    #9100F8
  );
  font-size:16px;
}
  






 @media screen and (max-width: 576px) {
  .nav-list,
  .nav-btn {
    display: none;
  }
}
    
