*{
    margin: 0;
    padding: 0;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  }
  body{
    background-color: #1E1E1E;
    color: white;
    margin: 0 auto;
  }
  .main-section{
    margin: 0 auto;
  }

  /* navber-start */
  .nav-ber{
    max-width: 100rem;
    background-color: #412567;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
   }
   .nav-ber h2{
    font-size:2.5rem;
   }

   .nav-ber h2 span{
  background: linear-gradient(
    to right,
    #F7E93F,
    #FB09B4,
    #9100F8
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
  .nav-list{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;

  }
  .nav-list li{
    list-style-type: none;
  }
  .nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    
  }
  .nav-btn{
    padding: 12px 24px;
    border-radius: 20px;
    
  background: linear-gradient(
    to right,
    #F7E93F,
    #FB09B4,
    #9100F8
  );
  font-size:16px;
}
.nav-btn:hover{
  background: rgb(10, 10, 211);
}

.hamber{
    display: none;
}



/* hero-section */

.hero-section{
    max-width: 1600px;
    background-image: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 160px 0px;
    margin: 50px 0px 15px 0px;
 }
  
.circle-box{
  position: relative;
  width: 220px;
  height: 220px;
 margin-top: -50px;
}

.hero-circle-1{
  width: 100%;
  height: 100%;
}

.hero-circle-2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
}
 
.hero-section h2{
    font-size: 60px;
    font-weight:bold ;
    margin: 10px;
}
.hero-section p{
    font-size: 16px;
    color: #FFFFFF;

}
.hero-btns{
    padding-top: 10px;
    display: flex;
    gap: 10px;

}
.hero-btn-1{
    padding: 12px 20px;
    border-radius: 20px;
    
  background: linear-gradient(
    to right,
    #F7E93F,
    #FB09B4,
    #9100F8
  );
  font-size:16px;
}
.hero-btn-1:hover{
  background: rgb(8, 167, 103);
}

    .hero-btn-2{
    padding: 12px 20px;
    border-radius: 20px;
    border: 1px solid green;
    color: #00FF88;
    background-color: #412567;
    
    
  font-size:16px;
}

.hero-btn-2:hover{
  background-color: rgb(180, 20, 103);
 }



.podcast-section {
    background: radial-gradient(circle at top, #2b0b4e, #12061f);
    padding: 120px 20px;
}


.podcast-about-area {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}


.podcast-about-area h3 {
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 20px;
}


.podcast-about-area p {
    font-size: 15px;
    line-height: 1.9;
    color: #cfc6dd;
    max-width: 850px;
    margin: 0 auto;
}


.podcast-card-area {
    max-width: 75rem;
    margin: 60px auto 0;
     display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    text-align: center;
}


.podcast-card {
    background: transparent;
}


.podcast-card h1 {
    font-size: 40px;
    font-weight: 700;
    color: #38f2a4; 
    margin-bottom: 10px;
}


.podcast-card h5 {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #b8aecb;
    text-transform: uppercase;
}
 

/* choose-section-start */
.choose-section{
      max-width: 75rem;
      margin: 0 auto;
      padding: 100px 20px;
      text-align: center;
    }

    .choose-section > h3{
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 50px;
    }
    
    
    .choose-card-area{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto auto auto;
      gap: 20px;
    }

    
    .choose-card{
      background-color: #351165;
      padding: 28px;
      border-radius: 20px;
      text-align: left;
      box-shadow: 0 15px 40px rgba(0,0,0,0.25);
    }

    .choose-card img{
      width: 36px;
      margin-bottom: 14px;
    }

    .choose-card h3{
      font-size: 20px;
      margin-bottom: 8px;
    }

    .choose-card p{
      font-size: 14px;
      line-height: 1.6;
      opacity: 0.9;
    }

   
    .choose-card-1{
      grid-column: 1 / 2;
      grid-row: 1 / 3;
    }

    .choose-card-2{
      grid-column: 2 / 5;
      grid-row: 1 / 2;
    }

    .choose-card-3{
      grid-column: 2 / 5;
      grid-row: 2 / 3;
    }

    .choose-card-4{
      grid-column: 1 / 4;
      grid-row: 3 / 4;
    }

    .choose-card-5{
      grid-column: 4 / 5;
      grid-row: 3 / 4;
    }

 /* Episode-section */
 .Episode-section{
    max-width: 100rem;
 }
 .Episode-section-area{
    max-width: 75rem;
    background-color: #250D44;
    margin: -20px auto;
 }

 .Episode-section-area h2{
    font-size: 48px;
    font-weight: 700;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

 }
 /* youtube-section-start */

 .youtube-video{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 30px;

 }

.video-1{
    width: 380px;
    height: 400px;
}
.video-1 h4{
    font-size: 24px;
    font-weight: 500;
  padding: 5px 0;
}

.video-1 p{
    font-size: 16px;}

    .video-1 h6{
        font-size: 18px;
        font-weight: 500;
        color: #00FF88;
        padding: 6px 2px;
    }
    
.video-2{
    width: 380px;
    height: 400px;
}

.video-2 h4{
    font-size: 24px;
    font-weight: 500;
   padding: 5px 0;
}

.video-2 p{
    font-size: 16px;}

       .video-2 h6{
        font-size: 18px;
        font-weight: 500;
        color: #00FF88;
        padding: 6px 2px;
    }
   
.video-3{
    width: 380px;
    height: 400px;
}
.video-3 h4{
    font-size: 24px;
    font-weight: 500;
    padding: 5px 0;
}
.video-1 p{
    font-size: 16px;
 
}
   .video-3 h6{
        font-size: 18px;
        font-weight: 500;
        color: #00FF88;
        padding: 6px 2px;
    }

    
  /* Podcast-section-start */

.podcast-section {
    width: 100%;
}
.podcast-card-area {
    max-width: 1200px;
    margin: 80px auto 0;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    text-align: center;
}

  /* choose-section-start */

      .choose-section{
        max-width: 75rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
.choose-section>h3{
    font-size: 48px;
    font-weight: 700;
   margin-bottom: 50px;

}
    
.choose-card-area{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 160px;
  gap: 20px;
}

.choose-card-1{
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-color: #351165;
}

.choose-card-2{
  grid-column: 2 / 5;
  grid-row: 1 / 2;
  background-color: #351165;
}

.choose-card-3{
  grid-column: 2 / 5;
  grid-row: 2 / 3;
  background-color: #351165;
}

.choose-card-4{
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  background-color: #351165;
}

.choose-card-5{
  grid-column: 4 / 5;
  grid-row: 3 / 4;
  background-color: #351165;
}
.choose-section{
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
  text-align: center;
}

.choose-section > h3{
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 50px;
}


.choose-card-area{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto auto;
  gap: 20px;
}


.choose-card{
  background-color: #351165;
  padding: 28px;
  border-radius: 20px;
  text-align: left;
}

.choose-card img{
  width: 36px;
  margin-bottom: 14px;
}

.choose-card h3{
  font-size: 20px;
  margin-bottom: 8px;
}

.choose-card p{
  font-size: 14px;
  line-height: 1.6;
  opacity: 0.9;
}


.choose-card-1{
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.choose-card-2{
  grid-column: 2 / 5;
  grid-row: 1 / 2;
}

.choose-card-3{
  grid-column: 2 / 5;
  grid-row: 2 / 3;
}

.choose-card-4{
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}

.choose-card-5{
  grid-column: 4 / 5;
  grid-row: 3 / 4;
} */ */


 /* youtube-video-section */

.youtube-video{
    display: flex;
    flex-direction: column;
}

  /* host-section-start */
 
.Host-section {
    background: #12061f;
    padding: 20px 20px;
}


.Host-section h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 60px;
}


.Alex-Kumar {
    max-width: 75rem;
    margin: 0 auto;
    background:   #1c0836;
   
    padding: 50px 60px;

    display: flex;
    align-items: center;
    gap: 40px;
}


.Alex-Kumar img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
}


.Alex-info h3 {
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 12px;
}

.Alex-info p {
    font-size: 15px;
    line-height: 1.7;
    color: #cfc6dd;
    max-width: 720px;
    margin-bottom: 24px;
}


.host-img {
    display: flex;
    gap: 14px;
}

.host-img a {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #3a176a;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease;
}

.host-img img {
    width: 16px;
    height: 16px;
}


    footer {
    background-image: url(assets/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    max-width: 1600px;
    width: 100%;
    margin: 120px auto 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 100px;
    gap: 20px;
}

/* Footer Title */
footer h2 {
    font-size: 48px;
    font-weight: 700;
    color: #ffffff;
}


footer h2 span {
    background: linear-gradient(
        to right,
        #F7E93F,
        #FB09B4,
        #9100F8
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Social links container */
.footer-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

/* Links */
.footer-img a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;

    display: flex;
    align-items: center;
    gap: 8px;
}

/* Icons */
.footer-img a i {
    width: 20px;
    height: 20px;
    color: #ffffff;
}

/* Copyright */
footer p {
    font-size: 14px;
    color: #ffffff;
    opacity: 0.85;
}


    
 @media screen and (max-width: 576px) {
  .nav-list,
  .nav-btn {
    display: none;
  }
    .hamber{
    display: inline-block;}
    .nav-ber h2{
    font-size:1.5rem;
   }
   .hero-section {
    padding: 20px 10px;
  }

  .hero-section h2 {
    font-size: 36px;
    margin: 10px 0;
    text-align: center;
  }

  .hero-section p {
    font-size: 14px;
    text-align: center;
  }

  .hero-btns {
   display: flex;
    align-items: center;
    gap: 12px;
  }
.podcast-section{
  padding: 0 0;
  margin: 0 auto;
}
  .podcast-about-area h3 {
    font-size: 28px;
  }

  .Episode-section-area h2{
    font-size: 30px;
    font-weight: 500;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;}

  .podcast-about-area p {
    font-size: 10px;
    line-height: 1;
    padding: 0 0;
  }


  .podcast-card-area {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .podcast-card h1 {
    font-size: 28px;
  }

  .podcast-card h5 {
    font-size: 11px;
  }
  

  .choose-section {
    padding: 60px 16px;
  }

  .choose-section > h3 {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .choose-card-area {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    gap: 16px;
  }
  .choose-card-1,
  .choose-card-2,
  .choose-card-3,
  .choose-card-4,
  .choose-card-5 {
    grid-column: auto;
    grid-row: auto;
  }

  .choose-card h3 {
    font-size: 18px;
  }

  .choose-card p {
    font-size: 13px;
  }

  .youtube-video {
    flex-direction: column;
    gap: 24px;
  }

  .video-1,
  .video-2,
  .video-3 {
    width: 100%;
    height: auto;
  }

  .video-1 h4,
  .video-2 h4,
  .video-3 h4 {
    font-size: 20px;
  }

  .video-1 p,
  .video-2 p,
  .video-3 p {
    font-size: 14px;
  }

  
  .Alex-Kumar {
    flex-direction: column;
    padding: 30px 20px;
    text-align: center;
  }

  .Alex-info h3 {
    font-size: 22px;
  }

  .Alex-info p {
    font-size: 14px;
  }

  .host-img {
    justify-content: center;
  }

  footer {
    padding: 20px 8px;
  }

  footer h2 {
    font-size: 32px;
  }

  .footer-img {
    flex-direction: column;
    gap: 12px;
  }

  footer p {
    font-size: 12px;
  }
  }



