*{
    margin: 0;
    padding: 0;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  }
  body{
    background-color: #412567;
    color: white;
  }
  .nav-ber{
    max-width: 1600px;
    background-color: #412567;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
   }
   .nav-ber h2{
    font-size:2.5rem;
   }

   .nav-ber h2 span{
  background: linear-gradient(
    to right,
    #F7E93F,
    #FB09B4,
    #9100F8
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

   

  .nav-list{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;

  }
  .nav-list li{
    list-style-type: none;
  }
  .nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    
  }
  .nav-btn{
    padding: 12px 24px;
    border-radius: 20px;
    
  background: linear-gradient(
    to right,
    #F7E93F,
    #FB09B4,
    #9100F8
  );
  font-size:16px;
}
.nav-btn:hover{
  background: rgb(10, 10, 211);
}

.hamber{
    display: none;
}

/* hero-section */

.hero-section{
    max-width: 1600px;
    background-image: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 160px 0px;
    margin: 50px 0px;
 }
  
.circle-box{
  position: relative;
  width: 220px;
  height: 220px;
 margin-top: -50px;
}

.hero-circle-1{
  width: 100%;
  height: 100%;
}

.hero-circle-2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
}
 
.hero-section h2{
    font-size: 60px;
    font-weight:bold ;
    margin: 10px;
}
.hero-section p{
    font-size: 16px;
    color: #FFFFFF;

}
.hero-btns{
    padding-top: 10px;
    display: flex;
    gap: 10px;

}
.hero-btn-1{
    padding: 12px 20px;
    border-radius: 20px;
    
  background: linear-gradient(
    to right,
    #F7E93F,
    #FB09B4,
    #9100F8
  );
  font-size:16px;
}
.hero-btn-1:hover{
  background: rgb(8, 167, 103);
}

    .hero-btn-2{
    padding: 12px 20px;
    border-radius: 20px;
    border: 1px solid green;
    color: #00FF88;
    background-color: #412567;
    hover: {
  background-color: yellow;
}
    
  font-size:16px;
}

.hero-btn-2:hover{
  background-color: rgb(180, 20, 103);
 }





 @media screen and (max-width: 576px) {
  .nav-list,
  .nav-btn {
    display: none;
  }
  .hamber{
    display: block;
}
  
}
    
