*{
    margin: 0;
    padding: 0;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  }
  body{
    background-color: #1E1E1E;
    color: white;
  }
  .nav-ber{
    max-width: 1600px;
    background-color: #412567;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
   }
   .nav-ber h2{
    font-size:2.5rem;
   }

   .nav-ber h2 span{
  background: linear-gradient(
    to right,
    #F7E93F,
    #FB09B4,
    #9100F8
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

   

  .nav-list{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;

  }
  .nav-list li{
    list-style-type: none;
  }
  .nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    
  }
  .nav-btn{
    padding: 12px 24px;
    border-radius: 20px;
    
  background: linear-gradient(
    to right,
    #F7E93F,
    #FB09B4,
    #9100F8
  );
  font-size:16px;
}
.nav-btn:hover{
  background: rgb(10, 10, 211);
}

.hamber{
    display: none;
}

/* hero-section */

.hero-section{
    max-width: 1600px;
    background-image: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 160px 0px;
    margin: 50px 0px 15px 0px;
 }
  
.circle-box{
  position: relative;
  width: 220px;
  height: 220px;
 margin-top: -50px;
}

.hero-circle-1{
  width: 100%;
  height: 100%;
}

.hero-circle-2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
}
 
.hero-section h2{
    font-size: 60px;
    font-weight:bold ;
    margin: 10px;
}
.hero-section p{
    font-size: 16px;
    color: #FFFFFF;

}
.hero-btns{
    padding-top: 10px;
    display: flex;
    gap: 10px;

}
.hero-btn-1{
    padding: 12px 20px;
    border-radius: 20px;
    
  background: linear-gradient(
    to right,
    #F7E93F,
    #FB09B4,
    #9100F8
  );
  font-size:16px;
}
.hero-btn-1:hover{
  background: rgb(8, 167, 103);
}

    .hero-btn-2{
    padding: 12px 20px;
    border-radius: 20px;
    border: 1px solid green;
    color: #00FF88;
    background-color: #412567;
    hover: {
  background-color: yellow;
}
    
  font-size:16px;
}

.hero-btn-2:hover{
  background-color: rgb(180, 20, 103);
 }

 /* Episode-section */
 .Episode-section{
    max-width: 1600px;
 }
 .Episode-section-area{
    max-width: 1200px;
    background-color: #250D44;
    margin: -20px auto;
 }

 .Episode-section-area h2{
    font-size: 48px;
    font-weight: 700;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

 }

 .youtube-video{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 30px;

 }

.video-1{
    width: 380px;
    height: 400px;
}
.video-1 h4{
    font-size: 24px;
    font-weight: 500;
  padding: 5px 0;
}

.video-1 p{
    font-size: 16px;}

    .video-1 h6{
        font-size: 18px;
        font-weight: 500;
        color: #00FF88;
        padding: 6px 2px;
    }
    
.video-2{
    width: 380px;
    height: 400px;
}

.video-2 h4{
    font-size: 24px;
    font-weight: 500;
   padding: 5px 0;
}

.video-2 p{
    font-size: 16px;}

       .video-2 h6{
        font-size: 18px;
        font-weight: 500;
        color: #00FF88;
        padding: 6px 2px;
    }
   
.video-3{
    width: 380px;
    height: 400px;
}
.video-3 h4{
    font-size: 24px;
    font-weight: 500;
    padding: 5px 0;
}
.video-1 p{
    font-size: 16px;
 
}
   .video-3 h6{
        font-size: 18px;
        font-weight: 500;
        color: #00FF88;
        padding: 6px 2px;
    }
/* host-section */
    .Host-section{
          max-width: 1200px;
          background-color: #533C72;
            margin: 0 auto;
           margin-top: 100px;
           padding: 16px;
    }

    .Host-section h2{
     font-size:48px ;
     font-weight: 700;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     padding-top: 20px;
    }
     .Alex-info p{
        font-size: 1rem;
    }
    

    .Alex-Kumar{
        max-width: 1200px;
        display: flex;
        gap: 24px;
        justify-content: center;
        align-items: center;
        text-align: left;
       }
       .Alex-Kumar img{
        width: 300px;
        max-width: 100%;
       }
       
        .host-img {
            display: flex;
        justify-content: left;
        align-items:center;
        text-align: left;
        gap: 8px;
        margin-top: 8px;
        width:20px;
        height: 20px;
       width: 100px;

        }
        .host-img a img{
            width: 30px;
            height: 30px;
            margin-top: 20px;
            padding: 20px;
            
        }

           footer{
            background-image: url(assets/footer-bg.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            max-width: 1600px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;
            padding: 100px;
            margin: 120px;
            gap: 20px;

           }
           .footer-img{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 15px;
            padding: 10px;
            color: #FFFFFF;
           }
           .footer-img a i{
            width: 20px;
            height: 20px;
            color: #FFFFFF;
           }
            .footer-img a {
           color: #FFFFFF;
           }


       


 @media screen and (max-width: 576px) {
  .nav-list,
  .nav-btn {
    display: none;
  }
  .hamber{
    display: block;
}
.youtube-video{
    display: flex;
    flex-direction: column;
}
  
 .Alex-Kumar{
        
        display: flex;
       flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
       }
        .Host-section h2{
     font-size:30px ;
     font-weight: 700;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     padding-top: 20px;
    }
    
}
    
